.input-link {
  gap: 50px;
  display: flex;
  justify-content: space-between;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: 20px;
  font-size: 18px;
}

.left {
  width: 70%;
}

.left input {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  font-size: 18px;
  padding: 0 10px;
}

.right {
  width: 30%;
}

.right .submit {
  width: 100%;
  height: 54px;
  border-radius: 5px;
  background: #1b3987;
  color: #fff;
  font-size: 20px;
  border: none;
  cursor: pointer;
  outline: none;
}

.right .copied {
  width: 100%;
  height: 57px;
  border-radius: 5px;
  background: #4da74d;
  color: #fff;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

.right .submit:hover {
  background: #2a5bd7;
}

.err-noty .content {
  height: 50px;
  background: #ec7a7a;
  margin-left: -7px;
  margin-right: -7px;
  border-radius: 5px;
}

.err-noty .content span {
  line-height: 50px;
  color: #672a2a;
}

.result {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-left: -10px;
  margin-right: -10px;
  height: 38px;
  background-color: #fff;
  border-radius: 5px;
  line-height: 40px;
}

.result-left {
  width: 50%;
  font-size: 14px;
}

.result-right {
  width: 50%;
  display: flex;
  font-size: 14px;
}

.result-right .short-url {
  width: 75%;
  margin-left: 40px;
  color: #0236b9;
  cursor: pointer;
}

.result-right .btn {
  width: 25%;
}

.btn-copy {
  padding: 7px 12px;
  border: none;
  background: none;
  background-color: #cedafe;
  border-radius: 3px;
  color: #2a5bd7;
  cursor: pointer;
  outline: none;
}

.btn-copy:hover {
  background-color: #cedafa;
  color: #2a5bd7;
}
